body {
      text-align: center;
      background-image: url("https://images8.alphacoders.com/559/559128.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      color: white;
      font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
h1 {
      font-size: 100px;
      margin: 75px;
      bottom
    }
p   { font-size: 18px;
      font-weight: bold;
      color: white;
      background: black;
      padding: 20px, 3000px, 20px, 3000px;
      opacity: .85;
      margin: 0;}
ul {
      list-style-type: none;
    }
    
input {
      border: 0;
      border-radius:5px;
      padding: 10px;
      font-size: 14px;
      color: white;
      margin: 10px;
      background: black;
      opacity: 0.95;
     }

     .topnav{
      color:rgb(126,126,126);
      border-style: double;
      background-color: rgb(126,126,126);
      overflow: hidden;
      text-align: center;
    }
    
    .topnav a {
      border-style: hidden;
      background-color: rgb(126,126,126);
      text-align: center;
      padding: 50px;
    
      font-size: 1.5em;
      font-family: "Papyrus", fantasy;
      color: white;
    }
    
    .topnav a.active {
      background-color: white;
      color: rgb(126,126,126);
      /* border-radius: 5px; not working :(((((*/
    }
