<!DOCTYPE html>
<head>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>What does the internet know about you?</title>
  
</head>
<body>
  <h1>About this Project</h1>
  <p>Privacy online is important. This app aims to make privacy accessible to everyone, regardless of familiarity with the internet.</p><br>

  <p>This webapp works by scraping the web for information related to what the user inputs. You do not need to fill all the fields.</p>
  <p>However, the more fields filled, the more likely you will find information relevant to you. No information is stored about the users.</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <p>Made for Minnehack 2022</p>
</body>
