<!DOCTYPE html>
<head>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>What does the internet know about you?</title>

  <div class="topnav">
    <a href="index.html">Home</a>
    <a class="active" href="#about">About</a>
</div>
  
</head>
<body>
  <h1>About this Project</h1>
  <p>Privacy online is important. This app aims to make privacy accessible to everyone, regardless of familiarity with the internet.</p><br>

  <p>This webapp works by scraping the web for information related to what the user inputs. You do not need to fill all the fields.</p>
  <p>However, the more fields filled, the more likely you will find information relevant to you. No information is stored about the users.</p>
  <br>

  <p><b>Ways to keep your privacy online</b></p>
  <p>1. Limit the information you share about yourself online. Things such as birthdates</p>
  <p>2. Use incognito mode. Incognito mode (along with keeping your browing history clear), won't save your cookies.</p>
  <p>1. Limit the information you share about yourself online.</p>
  <p>1. Limit the information you share about yourself online.</p>
  
  
  <br><br><br><br><br><br><br><br><br><br><br>
  <p>Made for Minnehack 2022</p>
</body>
